<!DOCTYPE html>
<html lang="en">

<head>
	<title>Prathamesh More</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#F4F6F7  
">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'pratweb/img/aaa.jpg' %}" class="responsive-img" style='max-height:1200px;' alt="face"."height="300" width="250">
					<<video width="1400" height="300" autoplay ">
  <source src="{% static 'pratweb/gif/coding2.mp4' %}" type="video/mp4">
Your browser does not support the video tag.
</video></center>
				  </center>
				 
			  </div>
			  <div class="col-sm-9">
				  <br>
				  <center>
				  <font size="7" font color="#34495E"> 
                  Enjoy the learning experience</font><img src="{% static 'pratweb/img/amazon.jpeg' %}" class="responsive-img" style='max-height:1200px;' alt="face"."height="400" width="300">
				</center>
			  </div>
		</div><hr>
				  
			<div class='container-fluid'>
			<br><br>
			  <center><p><h3>Click here to start learning</h3><a href="http://127.0.0.1:8000/">
					<img src="{% static 'pratweb/img/getstarted.png' %}" class="responsive-img" style='max-height:1200px;' alt="face."height="100" width="400">
				  </center>
				 
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15pxcolor:#E74C3C'>
			<p color: #E74C3C>
			<h3><a href="/callme" target="blank">Call me</a> | <a href="https://www.facebook.com/profile.php?id=100005424135114" target="blank">facebook</a> | <a href="https://www.instagram.com/prathamesh029" target="blank">Instagram</a> | <a href="http://www.google.com" target="blank">Google+</a></h3></p>
		</div>
	</footer>	
	
	
</body>

</html>