{% extends "pratweb/header1.html" %}

{% block content %}
<p><h2>"The computer programmer is a creator of universes for which he alone is the lawgiver. No playwright, no stage director, no emperor, however powerful, has ever exercised such absolute authority to arrange a stage or field of battle and to command such unswervingly dutiful actors or troops.” !
</h2></p>
<p><h4>These is an introductionary website to basic and fundamentally based Programming languages .Here you will be able to find 4 basic and Fundamentals Programming languages <b>C</b> or<b>C++</b>  these is the first computer language thought in most of the training institutes these language basically covers the protocals of computer language and deals in  building basic logical part.</h4></p>
<p><h4>Next <b>JAVA</b> these is most fundamentally strong basic computer language it has special properties like <i>inheritance,polymorphism,etc</i>.It is very similar to <b>C</b> if we compare most of syntatical part.</h4></p>
<p><h4><b>PYTHON</b> these language is the most advanced language among the three mentioned here .These language is used in building many presently active applications like <i>Instagram</i>.Syntatically these language is the easiest to study especially for the Beginners.And the logical part remains the same .These language is further extended to <b>Django </b> the next level of <b>Python</b> to make server base webpages.</h4></p>
 


{% endblock %}