{% extends "personal/index.html" %}

{% block content %}
<p><h3>C++ is an enhanced C language typically used for object oriented programming. It traces its origins back well over thirty years. Although it’s far from the oldest computer language, it’s one of the older ones that is in common usage today – so you might say it gets an A for its ability to adapt to changing technological times.</h3></p>
<p><h3><b>Use of C++</b>
C++ is widely used in embedded systems software engineering. It’s also popular in communications and gaming. It is used in many other industries: health care, finances, and even defense.

Facebook has posted ads that cite C++ among the desired skills. Other recent postings for those versed in C++ come from Verizon Wireless, WSFS Bank, and Lord & Taylor.

One reason that programmers opt for C++ is that it interfaces well with other languages. Another plus is that it is high performance.

The process of mining existing languages to create new ones has of course been ongoing. C++has influenced later languages like PHP, Java, and (not surprisingly) C# (C-Sharp).

<b>C++ Sites</b>
Although C++ isn’t owned in the way that some other computer languages are, there are still authority sites. You can get information about official standards at Open Standards.

You may also visit the founder’s site. His homepage includes links to libraries, articles, and resources as well as tid bits about the development process. Stroustrup even has his own style and technique FAQ. There are questions about classes, templates, exceptions, and other language features.</h3></p>
<p><h3><b>Learning C++</b>
There are other places you can turn to study C++. MakeUseof recently recommended three sites. LearnCPlusPlus is touted as a good beginner’s tutorial. CProgramming offers an accessible tutorial with quizzes and practice questions. It’s written in a friendly style and opens with the basics like setting up a compiler. You’ll also find common beginner’s mistakes. If you like the style, you can get a book by the author.

Cplusplus.com offers a well-organized tutorial, but one that may require more background knowledge. You can visit the site for forums and reference materials.

C++ founder Stroustrup stresses that even his own site isn’t a substitute for a textbook. C++ may be easier to learn than C (depending on who you ask), but there’s a lot to it. Stroustrup’s own book is The C++ Programming Language. It’s designed for programmers, and may not be ideal for a novice. Additional book recommendations can be found on Stroutsup’s site.</h3></p>
{% endblock %}