{% extends "personal/index.html" %}

{% block content %}
<p><h3><font color="#F4D03F">Java is a programming language that produces software for multiple platforms. When a programmer writes a Java application, the compiled code (known as bytecode) runs on most operating systems (OS), including Windows, Linux and Mac OS. Java derives much of its syntax from the C and C++ programming languages.

Java was developed in the mid-1990s by James A. Gosling, a former computer scientist with Sun Microsystems.</font></h3></p>
<p><h3><font color="#F4D03F">
<b>Why Choose Java?</b>
<i>Java was designed with a few key principles in mind</i>

<b>Ease of Use:</b> The fundamentals of Java came from a programming language called C++. Although C++ is a powerful language, it is complex in its syntax and inadequate for some of Java's requirements. Java built on and improved the ideas of C++ to provide a programming language that was powerful and simple to use.
<b>Reliability:</b> Java needed to reduce the likelihood of fatal errors from programmer mistakes. With this in mind, object-oriented programming was introduced. When data and its manipulation were packaged together in one place, Java’s was robust.
<b>Security:</b>As Java was originally targeting mobile devices that would be exchanging data over networks, it was built to include a high level of security. Java is probably the most secure programming language to date.
Platform Independence: Programs need to work regardless of the machines it is being executed on. Java was written to be a portable language that doesn't care about the operating system or the hardware of the computer or device it is running on.

The team at Sun Microsystems was successful in combining these key principles, and Java's popularity can be traced to it being a robust, secure, easy to use, and portable programming language.
</font></h3></p>
<p> <a href="https://youtu.be/WPvGqX-TXP0"><h1>LEARN MORE</h1></p>
{% endblock %}